{% extends "shared/_layout.html" %}
{% block title %}News Feed{% endblock %}
{% block main_content %}
    <h1>Trending news from English language sources worldwide</h1>
    <h2>Articles</h2>
    {% for a in articles %}
    <div>
        <span class="title">
            {{ a.title }}
        </span>
        <span class="company">
            {{ a.company }}
        </span>
        <span class="published">
            {{ a.published }}
        </span>
        <span class="text">
            {{ a.text }}
        </span>
    </div>
    {% endfor %}
{% endblock %}