{% extends "shared/_layout.html" %}
{% block title %}News Feed Sources{% endblock %}
{% block main_content %}
    <h1>News Organizations:</h1>
    <h3>
        <a href="https://www.bbc.com/news/world">BBC World News</a>
        <a href="http://feeds.bbci.co.uk/news/world/rss.xml">RSS feed</a>
    </h3>
    <h3>
        <a href="https://www.nytimes.com/">The New York Times</a>
        <a href="https://rss.nytimes.com/services/xml/rss/nyt/World.xml">RSS feed</a>
    </h3>
    <h3>
        <a href="https://timesofindia.indiatimes.com/world">The Times of India</a>
        <a href="https://timesofindia.indiatimes.com/rssfeeds/296589292.cms">RSS feed</a>
    </h3>
    <h3>
        <a href="https://www.scmp.com/news/world">South China Morning News</a>
        <a href="https://www.scmp.com/rss/5/feed">RSS feed</a>
    </h3>
{% endblock %}